src/main/java/com/htichina/wsclient/payment/paymentService35.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-2b01  svn-revision#13122. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-2b01  svn-revision#13122. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://payment.ws.htichina.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://payment.ws.htichina.com/" name="PaymentServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://payment.ws.htichina.com/" schemaLocation="http://10.198.50.233:8080/b2c_portal/ws/paymentService?xsd=1"/>
</xsd:schema>
</types>
<message name="sendInvoiceEmail">
<part name="parameters" element="tns:sendInvoiceEmail"/>
</message>
<message name="sendInvoiceEmailResponse">
<part name="parameters" element="tns:sendInvoiceEmailResponse"/>
</message>
<message name="checkTransaction">
<part name="parameters" element="tns:checkTransaction"/>
</message>
<message name="checkTransactionResponse">
<part name="parameters" element="tns:checkTransactionResponse"/>
</message>
<message name="paymentHandlerService">
<part name="parameters" element="tns:paymentHandlerService"/>
</message>
<message name="paymentHandlerServiceResponse">
<part name="parameters" element="tns:paymentHandlerServiceResponse"/>
</message>
<message name="checkPurchaseProduct">
<part name="parameters" element="tns:checkPurchaseProduct"/>
</message>
<message name="checkPurchaseProductResponse">
<part name="parameters" element="tns:checkPurchaseProductResponse"/>
</message>
<message name="getActiveAccountByOpenId">
<part name="parameters" element="tns:getActiveAccountByOpenId"/>
</message>
<message name="getActiveAccountByOpenIdResponse">
<part name="parameters" element="tns:getActiveAccountByOpenIdResponse"/>
</message>
<message name="validateLogin">
<part name="parameters" element="tns:validateLogin"/>
</message>
<message name="validateLoginResponse">
<part name="parameters" element="tns:validateLoginResponse"/>
</message>
<message name="isNewFollowReciveDidi">
<part name="parameters" element="tns:isNewFollowReciveDidi"/>
</message>
<message name="isNewFollowReciveDidiResponse">
<part name="parameters" element="tns:isNewFollowReciveDidiResponse"/>
</message>
<message name="updateLoginTimes">
<part name="parameters" element="tns:updateLoginTimes"/>
</message>
<message name="updateLoginTimesResponse">
<part name="parameters" element="tns:updateLoginTimesResponse"/>
</message>
<message name="isReceiveDidi">
<part name="parameters" element="tns:isReceiveDidi"/>
</message>
<message name="isReceiveDidiResponse">
<part name="parameters" element="tns:isReceiveDidiResponse"/>
</message>
<message name="getPromotionInfo">
<part name="parameters" element="tns:getPromotionInfo"/>
</message>
<message name="getPromotionInfoResponse">
<part name="parameters" element="tns:getPromotionInfoResponse"/>
</message>
<message name="syncAMPWifiAccount">
<part name="parameters" element="tns:syncAMPWifiAccount"/>
</message>
<message name="syncAMPWifiAccountResponse">
<part name="parameters" element="tns:syncAMPWifiAccountResponse"/>
</message>
<message name="syncAccnt">
<part name="parameters" element="tns:syncAccnt"/>
</message>
<message name="syncAccntResponse">
<part name="parameters" element="tns:syncAccntResponse"/>
</message>
<message name="getProdInfo">
<part name="parameters" element="tns:getProdInfo"/>
</message>
<message name="getProdInfoResponse">
<part name="parameters" element="tns:getProdInfoResponse"/>
</message>
<message name="getVehicleInfo">
<part name="parameters" element="tns:getVehicleInfo"/>
</message>
<message name="getVehicleInfoResponse">
<part name="parameters" element="tns:getVehicleInfoResponse"/>
</message>
<message name="getInvoiceInformation">
<part name="parameters" element="tns:getInvoiceInformation"/>
</message>
<message name="getInvoiceInformationResponse">
<part name="parameters" element="tns:getInvoiceInformationResponse"/>
</message>
<message name="createTransaction">
<part name="parameters" element="tns:createTransaction"/>
</message>
<message name="createTransactionResponse">
<part name="parameters" element="tns:createTransactionResponse"/>
</message>
<message name="insertInvoiceInfo">
<part name="parameters" element="tns:insertInvoiceInfo"/>
</message>
<message name="insertInvoiceInfoResponse">
<part name="parameters" element="tns:insertInvoiceInfoResponse"/>
</message>
<message name="getParentOrderInfo">
<part name="parameters" element="tns:getParentOrderInfo"/>
</message>
<message name="getParentOrderInfoResponse">
<part name="parameters" element="tns:getParentOrderInfoResponse"/>
</message>
<message name="getChildOrderInfo">
<part name="parameters" element="tns:getChildOrderInfo"/>
</message>
<message name="getChildOrderInfoResponse">
<part name="parameters" element="tns:getChildOrderInfoResponse"/>
</message>
<message name="getWechatUserDataByAccountNum">
<part name="parameters" element="tns:getWechatUserDataByAccountNum"/>
</message>
<message name="getWechatUserDataByAccountNumResponse">
<part name="parameters" element="tns:getWechatUserDataByAccountNumResponse"/>
</message>
<message name="isWinBackOrEarlyBird">
<part name="parameters" element="tns:isWinBackOrEarlyBird"/>
</message>
<message name="isWinBackOrEarlyBirdResponse">
<part name="parameters" element="tns:isWinBackOrEarlyBirdResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="closeWechatUserProfile">
<part name="parameters" element="tns:closeWechatUserProfile"/>
</message>
<message name="closeWechatUserProfileResponse">
<part name="parameters" element="tns:closeWechatUserProfileResponse"/>
</message>
<message name="createWechatUserProfile">
<part name="parameters" element="tns:createWechatUserProfile"/>
</message>
<message name="createWechatUserProfileResponse">
<part name="parameters" element="tns:createWechatUserProfileResponse"/>
</message>
<message name="getCurrentAccountInfo">
<part name="parameters" element="tns:getCurrentAccountInfo"/>
</message>
<message name="getCurrentAccountInfoResponse">
<part name="parameters" element="tns:getCurrentAccountInfoResponse"/>
</message>
<message name="logoff">
<part name="parameters" element="tns:logoff"/>
</message>
<message name="logoffResponse">
<part name="parameters" element="tns:logoffResponse"/>
</message>
<message name="createPaymentOrder">
<part name="parameters" element="tns:createPaymentOrder"/>
</message>
<message name="createPaymentOrderResponse">
<part name="parameters" element="tns:createPaymentOrderResponse"/>
</message>
<portType name="PaymentService">
<operation name="sendInvoiceEmail">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/sendInvoiceEmailRequest" message="tns:sendInvoiceEmail"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/sendInvoiceEmailResponse" message="tns:sendInvoiceEmailResponse"/>
</operation>
<operation name="checkTransaction">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/checkTransactionRequest" message="tns:checkTransaction"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/checkTransactionResponse" message="tns:checkTransactionResponse"/>
</operation>
<operation name="paymentHandlerService">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/paymentHandlerServiceRequest" message="tns:paymentHandlerService"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/paymentHandlerServiceResponse" message="tns:paymentHandlerServiceResponse"/>
</operation>
<operation name="checkPurchaseProduct">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/checkPurchaseProductRequest" message="tns:checkPurchaseProduct"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/checkPurchaseProductResponse" message="tns:checkPurchaseProductResponse"/>
</operation>
<operation name="getActiveAccountByOpenId">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getActiveAccountByOpenIdRequest" message="tns:getActiveAccountByOpenId"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getActiveAccountByOpenIdResponse" message="tns:getActiveAccountByOpenIdResponse"/>
</operation>
<operation name="validateLogin">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/validateLoginRequest" message="tns:validateLogin"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/validateLoginResponse" message="tns:validateLoginResponse"/>
</operation>
<operation name="isNewFollowReciveDidi">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/isNewFollowReciveDidiRequest" message="tns:isNewFollowReciveDidi"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/isNewFollowReciveDidiResponse" message="tns:isNewFollowReciveDidiResponse"/>
</operation>
<operation name="updateLoginTimes">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/updateLoginTimesRequest" message="tns:updateLoginTimes"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/updateLoginTimesResponse" message="tns:updateLoginTimesResponse"/>
</operation>
<operation name="isReceiveDidi">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/isReceiveDidiRequest" message="tns:isReceiveDidi"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/isReceiveDidiResponse" message="tns:isReceiveDidiResponse"/>
</operation>
<operation name="getPromotionInfo">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getPromotionInfoRequest" message="tns:getPromotionInfo"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getPromotionInfoResponse" message="tns:getPromotionInfoResponse"/>
</operation>
<operation name="syncAMPWifiAccount">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/syncAMPWifiAccountRequest" message="tns:syncAMPWifiAccount"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/syncAMPWifiAccountResponse" message="tns:syncAMPWifiAccountResponse"/>
</operation>
<operation name="syncAccnt">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/syncAccntRequest" message="tns:syncAccnt"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/syncAccntResponse" message="tns:syncAccntResponse"/>
</operation>
<operation name="getProdInfo">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getProdInfoRequest" message="tns:getProdInfo"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getProdInfoResponse" message="tns:getProdInfoResponse"/>
</operation>
<operation name="getVehicleInfo">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getVehicleInfoRequest" message="tns:getVehicleInfo"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getVehicleInfoResponse" message="tns:getVehicleInfoResponse"/>
</operation>
<operation name="getInvoiceInformation">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getInvoiceInformationRequest" message="tns:getInvoiceInformation"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getInvoiceInformationResponse" message="tns:getInvoiceInformationResponse"/>
</operation>
<operation name="createTransaction">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/createTransactionRequest" message="tns:createTransaction"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/createTransactionResponse" message="tns:createTransactionResponse"/>
</operation>
<operation name="insertInvoiceInfo">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/insertInvoiceInfoRequest" message="tns:insertInvoiceInfo"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/insertInvoiceInfoResponse" message="tns:insertInvoiceInfoResponse"/>
</operation>
<operation name="getParentOrderInfo">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getParentOrderInfoRequest" message="tns:getParentOrderInfo"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getParentOrderInfoResponse" message="tns:getParentOrderInfoResponse"/>
</operation>
<operation name="getChildOrderInfo">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getChildOrderInfoRequest" message="tns:getChildOrderInfo"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getChildOrderInfoResponse" message="tns:getChildOrderInfoResponse"/>
</operation>
<operation name="getWechatUserDataByAccountNum">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getWechatUserDataByAccountNumRequest" message="tns:getWechatUserDataByAccountNum"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getWechatUserDataByAccountNumResponse" message="tns:getWechatUserDataByAccountNumResponse"/>
</operation>
<operation name="isWinBackOrEarlyBird">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/isWinBackOrEarlyBirdRequest" message="tns:isWinBackOrEarlyBird"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/isWinBackOrEarlyBirdResponse" message="tns:isWinBackOrEarlyBirdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://payment.ws.htichina.com/PaymentService/isWinBackOrEarlyBird/Fault/Exception"/>
</operation>
<operation name="closeWechatUserProfile">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/closeWechatUserProfileRequest" message="tns:closeWechatUserProfile"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/closeWechatUserProfileResponse" message="tns:closeWechatUserProfileResponse"/>
</operation>
<operation name="createWechatUserProfile">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/createWechatUserProfileRequest" message="tns:createWechatUserProfile"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/createWechatUserProfileResponse" message="tns:createWechatUserProfileResponse"/>
</operation>
<operation name="getCurrentAccountInfo">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/getCurrentAccountInfoRequest" message="tns:getCurrentAccountInfo"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/getCurrentAccountInfoResponse" message="tns:getCurrentAccountInfoResponse"/>
</operation>
<operation name="logoff">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/logoffRequest" message="tns:logoff"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/logoffResponse" message="tns:logoffResponse"/>
</operation>
<operation name="createPaymentOrder">
<input wsam:Action="http://payment.ws.htichina.com/PaymentService/createPaymentOrderRequest" message="tns:createPaymentOrder"/>
<output wsam:Action="http://payment.ws.htichina.com/PaymentService/createPaymentOrderResponse" message="tns:createPaymentOrderResponse"/>
</operation>
</portType>
<binding name="PaymentServicePortBinding" type="tns:PaymentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sendInvoiceEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="paymentHandlerService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkPurchaseProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getActiveAccountByOpenId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isNewFollowReciveDidi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateLoginTimes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isReceiveDidi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPromotionInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="syncAMPWifiAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="syncAccnt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProdInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVehicleInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getInvoiceInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertInvoiceInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getParentOrderInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getChildOrderInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getWechatUserDataByAccountNum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isWinBackOrEarlyBird">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="closeWechatUserProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createWechatUserProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCurrentAccountInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="logoff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPaymentOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PaymentServiceService">
<port name="PaymentServicePort" binding="tns:PaymentServicePortBinding">
<soap:address location="http://10.198.50.233:8080/b2c_portal/ws/paymentService"/>
</port>
</service>
</definitions>